html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  background: black; }

body {
  padding: 10px 10px 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

#landing {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  width: 100%;
  background: url("landing.png") center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-position: 50% 0;
  color: white; }
  #landing::after {
    clear: both;
    content: "";
    display: table; }
  #landing .gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)); }
  #landing .table {
    display: table;
    border-collapse: collapse; }
  #landing .cell {
    display: table-cell;
    border: 0; }
  #landing .center {
    vertical-align: middle;
    text-align: center; }
  #landing h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 6em; }
  #landing .lead {
    margin: 0;
    padding: 0;
    font-family: 'Cardo', serif;
    font-style: italic;
    font-size: 2.5em;
    font-weight: 400; }

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-position: 50% 0;
  background-color: white; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

header #brand {
  float: left; }
  header #brand img {
    margin: 15px;
    height: 80px; }
header #nav {
  float: right; }
  header #nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 37px 50px 0 0; }
    header #nav ul li {
      display: inline; }
    header #nav ul li a {
      padding: 0 10px 0 10px;
      text-transform: uppercase;
      font-size: 0.7em;
      font-weight: 700;
      color: black;
      text-decoration: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

#story {
  padding: 0em 1em 1em 1em;
  font-size: 5em;
  font-weight: 300; }

.row {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin: 30px 0; }
  .row:last-child {
    margin-right: 0; }
  .row .row-title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    font-family: 'Cardo', serif;
    font-size: 1.2em;
    font-style: italic;
    text-align: right;
    color: #b0976d; }
    .row .row-title:last-child {
      margin-right: 0; }
  .row .row-title.education {
    padding-top: 111px; }
  .row .row-content {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .row .row-content:last-child {
      margin-right: 0; }

.first.row {
  margin-top: 0; }

.last.row {
  margin-bottom: 0; }

.row.experience {
  margin-bottom: 0px; }
  .row.experience .row-content > .dropdown > .dropdown-title {
    border-bottom: none; }

.row.education {
  margin-top: 0px; }

.ul-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .ul-col:last-child {
    margin-right: 0; }
  .ul-col li {
    padding: 0 10px 20px 10px;
    text-decoration: none; }

#gallery {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding: 0 0 0 0;
  padding-top: 1em;
  padding-bottom: 100px; }
  #gallery:last-child {
    margin-right: 0; }
  #gallery .slide {
    margin-left: 25.58941%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-left: 23.58941%; }
    #gallery .slide:last-child {
      margin-right: 0; }
    #gallery .slide .slide-media img {
      width: 105%; }
    #gallery .slide .slide-info {
      padding-top: 10%; }
      #gallery .slide .slide-info .slide-title {
        float: left;
        margin-left: -6px;
        font-size: 4em;
        font-weight: 900; }
        #gallery .slide .slide-info .slide-title em {
          font-size: 0.3em;
          font-weight: 400;
          color: lightgray; }
      #gallery .slide .slide-info .slide-source {
        float: right;
        padding-top: 3em;
        vertical-align: text-bottom; }
  #gallery .slide-selector {
    float: left;
    padding-top: 8%; }
    #gallery .slide-selector ul {
      list-style: none;
      padding: 0;
      margin: 0; }

.sub-title {
  margin: 0;
  padding: 0 0 10px 0;
  line-height: 30px;
  text-transform: uppercase;
  color: #737373; }

#current-position {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  #current-position:last-child {
    margin-right: 0; }
  #current-position #current-employer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
    padding-bottom: 15px; }
    #current-position #current-employer:last-child {
      margin-right: 0; }
    #current-position #current-employer #employer-logo img {
      width: 64px; }
  #current-position #employment-details {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 91.4702%;
    margin-left: 4%;
    width: 80%; }
    #current-position #employment-details:last-child {
      margin-right: 0; }
    #current-position #employment-details #current-role strong {
      font-size: 1em;
      font-size: 1.2em; }
  #current-position #job-description {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    #current-position #job-description:last-child {
      margin-right: 0; }

.dropdown {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: white; }
  .dropdown:last-child {
    margin-right: 0; }
  .dropdown .dropdown-title {
    width: 80%;
    padding: 30px;
    text-transform: uppercase;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #b0976d;
    cursor: pointer; }
    .dropdown .dropdown-title .close {
      padding: 10px 0 0 0;
      margin: 0;
      float: right;
      font-size: 3.6em;
      font-weight: 500;
      line-height: 0;
      color: black; }
  .dropdown .dropdown-row {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .dropdown .dropdown-row:last-child {
      margin-right: 0; }
    .dropdown .dropdown-row .time-and-place {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      padding: 15px 0; }
      .dropdown .dropdown-row .time-and-place:last-child {
        margin-right: 0; }
      .dropdown .dropdown-row .time-and-place .time {
        padding: 15px 0; }
      .dropdown .dropdown-row .time-and-place .place {
        padding: 15px 0;
        font-family: 'Cardo', serif;
        font-size: 1.2em;
        font-style: italic; }
    .dropdown .dropdown-row .position-info {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%;
      padding: 15px 0; }
      .dropdown .dropdown-row .position-info:last-child {
        margin-right: 0; }
      .dropdown .dropdown-row .position-info .position-title {
        padding: 15px 0; }
      .dropdown .dropdown-row .position-info .company-info {
        padding: 15px 0; }

#work {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  background-color: #4c4c4c; }
  #work:last-child {
    margin-right: 0; }
  #work .work-header {
    text-align: center; }
    #work .work-header .work-header-bg {
      z-index: -1;
      font-size: 15em;
      color: #595959; }
    #work .work-header .work-header-title {
      margin-top: -150px;
      font-size: 2em;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      color: white; }
    #work .work-header .work-header-subtext {
      padding-bottom: 100px;
      font-size: 2em;
      font-family: "Times";
      font-style: italic; }
  #work #work-grid {
    padding: 10px; }
    #work #work-grid .grid-item {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-top: 2.35765%;
      margin-bottom: 2.35765%;
      height: 250px;
      background: url(./planet_1x.png); }
      #work #work-grid .grid-item:last-child {
        margin-right: 0; }
      #work #work-grid .grid-item .work-overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        height: 100%;
        width: 100%; }
        #work #work-grid .grid-item .work-overlay a {
          display: block;
          padding-top: 10%; }

/*# sourceMappingURL=slider.css.map */
