.clients {
    background-color: $body-background-color;
    color: white;
    padding: 240px 0;
    
    .row-title {
        text-transform: uppercase;
        font-family: "futura-pt",sans-serif;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin: 0 auto 0 auto;
        // padding-top: 140px;
        text-align: center;
        width: 75%;
    }
    
    svg {
        fill: #fff;
    }
    
    span {
        margin-top: 95px;
        text-align: center;
    }
}

#client-jpmorgan svg {
    height: 25px !important;
}

#client-google svg {
    height: 31px !important;
}

#client-porsche svg {
    height: 9px !important;
}

#client-ubisoft svg {
    height: 49.5px !important;
}

#client-cbre svg {
    height: 21px !important;
}

#client-breather svg {
    height: 25.5px !important;
}

#client-sony svg {
    height: 17.5px !important;
}

#client-wwf svg {
    height: 73px !important;
}

#client-sidlee svg {
    height: 20px !important;
}

#client-bell svg {
    height: 33.5px !important;
}

#client-publicis svg {
    height: 48px !important;
}

#client-universal svg {
    height: 52.5px !important;
}

@media only screen and (max-width: 767px) {
    .clients {
        width: 100%;
        
        .work-grid {
            background-color: transparent;
            align-items: center;
            align-content: center;
        }
        
        .grid-item {
            align-items: center;
            flex-basis: 50%;
            max-width: 50%;
            padding: 60px 0 0 0;
        }
        
        .grid-item img {
            box-shadow: none;
            align-items: center;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px)  {
    .clients {
                
        width: 100%;
        
        .work-grid {
            background-color: transparent;
            align-items: center;
            align-content: center;
        }
        
        .grid-item {
            align-items: center;
            flex-basis: 33.3%;
            max-width: 33.3%;
            padding: 60px 0 0 0;
        }
        
        .grid-item img {
            box-shadow: none;
            align-items: center;
        }
    }
}

@media only screen and (min-width: 1025px) {
    .clients {
        width: 100%;
        
        .work-grid {
            background-color: transparent;
            align-items: center;
            align-content: center;
        }
        
        .grid-item {
            align-items: center;
            flex-basis: 25%;
            max-width: 25%;
            padding: 60px 0 0 0;
        }
        
        .grid-item img {
            box-shadow: none;
            align-items: center;
        }
    }
}