@import '../vendors/bourbon/app/assets/stylesheets/bourbon';
@import '../vendors/neat/app/assets/stylesheets/neat';
@import 'variables';

.gallery {
    margin-bottom: 4em;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 14px;

    a {
        text-decoration: none;
    }

    h3.slides-heading {
        color: #5a6e7f;
        font-family: "adobe-garamond-pro";
        font-weight: 400;
        font-style: normal;
        font-size: 2.5em;
        letter-spacing: normal;
        margin: 20px 0 25px 20px;
    }

    .bar {
        background: $heading-color;
        display: inline-block;
        margin-bottom: 0.17em;
        margin-left: 0.1em;
        height: 2px;
        width: 50px;
    }

    .slides {
        overflow-x: auto;
        width: 100%;
        white-space: nowrap;
    }

    .slide {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        display: inline-block;
        height: auto;
        transform: translateZ(0);
        transition: box-shadow 0.3s ease;

        &:nth-child(1n) {
            margin-left: 20px;
        }

        &:last-child {
            margin-right: 20px;
        }
    }

    .slide-media {
        background-size: cover;
        border-radius: 4px 4px 0 0;
    }

    .slide:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 12px 22px rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.3s ease;
    }

    .slide-title {
        color: #5a6e7f;
        width: 100%;
        font-family: "futura-pt", sans-serif;
        font-size: 1.4em;
        font-style: normal;
        font-weight: 700;
        padding: 0.54em 0em 0.57em 0.6em;
        text-decoration: none;
    }

    .slide-position {
        color: $heading-color;
        display: block;
        font-family: "futura-pt", sans-serif;
        font-size: 0.6em;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.15em;
        padding: 0.55em 0;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 767px) {}
@media only screen and (min-width: 768px) and (max-width: 1024px) {}

@media only screen and (max-width: 1024px) {
    .gallery {
        margin-bottom: 0;
    }
    
    .slides {
        height: 300px;
    }

    .slide {
        width: 250px;
    }

    .slide-media {
        height: 175px;
    }

    .slide-title {
        display: block;
        float: none;
        font-size: 1.4em;
    }

    .slide-position {
        display: block;
        float: none;
        font-size: 0.6em;
        padding: 0.65em 0 0.35em 0;
        text-align: left;
    }
}

@media only screen and (min-width: 1025px) {
    .slides {
        height: 450px;
    }

    .slide {
        width: 500px;
    }

    .slide-media {
        height: 350px;
    }

    .slide-title {
        display: inline;
        float: left;
        font-size: 1.4em;
    }

    .slide-position {
        display: inline;
        font-size: 0.6em;
        float: right;
        margin-right: 10px;
    } 
}