@import '../vendors/bourbon/app/assets/stylesheets/bourbon';
@import '../vendors/neat/app/assets/stylesheets/neat';
@import 'variables';
@import "../vendors/animate-sass/animate";

.gallery {
    margin-bottom: 4em 0 2.5em;

    a {
        text-decoration: none;
    }

    h3.slides-heading {
        color: #5a6e7f;
        font-family: "adobe-garamond-pro";
        font-weight: 400;
        font-style: normal;
        font-size: 2.5em;
        letter-spacing: normal;
    }

    .bar {
        background: $heading-color;
        display: inline-block;
        margin-bottom: 0.18em;
        margin-left: 0.1em;
        height: 2px;
        width: 55px;
    }

    .slides {
        overflow-x: auto;
        width: 100%;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }

    .slide {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        display: inline-block;
        height: auto;
        transform: translateZ(0);
        transition: box-shadow 0.3s ease;

        &:nth-child(1n) {
            margin-left: 1.7em;
        }

        &:last-child {
            margin-right: 3em;
        }
    }

    .slide-media {
        background-size: cover;
        border-radius: 4px 4px 0 0;
    }

    .slide:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 12px 22px rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.3s ease;
    }

    .slide-title {
        color: #5a6e7f;
        width: 100%;
        font-family: "futura-pt", sans-serif;
        font-size: 1.4em;
        font-style: normal;
        font-weight: 700;
        text-decoration: none;
    }

    .slide-position {
        color: $heading-color;
        display: block;
        font-family: "futura-pt", sans-serif;
        font-size: 0.6em;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 767px) {}
@media only screen and (min-width: 768px) and (max-width: 1024px) {}

@media only screen and (max-width: 1024px) {
    .gallery {
        margin-bottom: 0;

        h3.slides-heading {
            margin: 10px 0 25px 0.4em;
        }

        .slides {
            height: 290px;
        }

        .slide {
            width: 250px;

            &:nth-child(1n) {
                margin-left: 1.2em;
            }

            &:last-child {
                margin-right: 1.2em;
            }
        }

        .slide-media {
            height: 175px;
        }

        .slide-title {
            display: block;
            float: none;
            font-size: 1.4em;
            padding: 0.5em 0 0.6em 0.8em;
        }

        .slide-position {
            display: block;
            float: none;
            font-size: 0.6em;
            text-align: left;
            padding-top: 0.35em;
        }
    }
}

@media only screen and (min-width: 1025px) {
    .gallery {

        h3.slides-heading {
            margin: 10px 0 25px 1em;
        }

        .slides {
            height: 450px;
            padding-left: 0.8em;
        }

        .slide {
            width: 498px;
        }

        .slide-media {
            height: 348px;
        }

        .slide-title {
            display: inline;
            float: left;
            font-size: 1.4em;
            padding: 0.7em;
        }

        .slide-position {
            display: inline;
            font-size: 0.6em;
            float: right;
            padding: 0.55em 0;
        }
    }
}
