@import "../vendors/bourbon/app/assets/stylesheets/bourbon";
@import "../vendors/neat/app/assets/stylesheets/neat";
@import 'variables';

.brand img {
    margin: 30px 0 0 30px;
}

.nav {
    position: fixed;
    top: 50px;
    right: 40px;
    z-index: 998;
    padding: 0 10px 0 10px;

    a {}

    img { width: 24px; }
}

h1 {
    text-align: center;
    font-family: "futura-pt";
    color: #2E2E2E;
    font-weight: 400;
    font-style: normal;
    line-height: 0.6em;
    letter-spacing: 0.1em;
    font-size: 2.1em;

    p {
        text-align: center;
        font-family: "adobe-garamond-pro";
        color: #5a6e7f;
        font-weight: 400;
        font-style: italic;
        font-size: 0.55em;
        line-height: 0.6em;
        letter-spacing: normal;
    }

}

@media only screen and (max-width: 1024px) {
    h1 {
        font-size: 2em;
        margin-top: 85px;
        margin-bottom: 80px;
    }

    .brand img {
        height: 30px;
        margin: 20px 0 0 20px;
    }

    .nav {
        top: 25px;
        right: 25px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    h1 {
        font-size: 3.8em;
        margin-top: 110px;
        margin-bottom: 75px;
    }

    .brand img { height: 40px; }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 3.8em;
        margin-top: 110px;
        margin-bottom: 75px;
    }

    .brand img { height: 40px; }
}

@media only screen and (min-width: 1025px) {
    h1 {
        font-size: 5.5em;
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .brand img { height: 60px; }
}
