.intro {
    padding: 4em;
    width: 100%;
    max-width: 1100px;

    .avatar {
        background-color: #F9F9F9;
        float: left;
        width: 100%;
        margin-right: 2em;
        margin-bottom: 40px;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
    }

    .lead {
        margin-top: 0.3em;
        margin-bottom: 40px;
        color: #2E2E2E;
        font-family: "adobe-garamond-pro";
        font-weight: 400;
        font-style: normal;
        line-height: 1.45em;
        font-size: 1.33em;
        letter-spacing: normal;
        text-align: justify;
    }

    p {
        font-family: "futura-pt";
        color: #5a6e7f;
        font-weight: 400;
        font-style: normal;
        line-height: 1.55em;
        font-size: 1.03em;
        letter-spacing: 0.5px;
        text-align: justify;
    }
}

@media only screen and (max-width: 767px) {    
    .intro {
        padding: 1em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    

}

@media only screen and (min-width: 1025px) {
    .avatar {
        max-width: 485px;
    }
}


@media only screen and (min-width: 1100px) {
    .intro {
        margin: 0 auto;
        width: 1100px;
    }
}