@import '../vendors/bourbon/app/assets/stylesheets/bourbon';
@import '../vendors/neat/app/assets/stylesheets/neat';
@import 'variables';

.row {
    @include span-columns(12);

    max-width: 1250px;
    margin: 0 auto;
    padding-left: 15px;

    .row-title {
        @include shift(1);
        @include span-columns(1);

        color: $heading-color;
        text-transform: uppercase;
        line-height: 2.3em;
        font-family: "futura-pt",sans-serif;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-right: 5%;
    }

    .row-content {
        @include span-columns(9);

        font-size: 1.3em;
        letter-spacing: 0.04em;
    }

    ul.col {
        @include outer-container;
        padding: 0 0 15px 0;
        list-style-type: none;
        margin-top: 0;
        padding-top: 0;
    }

    li {
        padding: 0 10px 20px 10px;
        text-decoration: none;
        line-height: 1.3em;
    }
}

    // .row-content {
    //     width: 100%; 
    // }

    // .employer-logo {
    //     background-image: url('./images/breather.svg');
    //     background-repeat: no-repeat;
    //     float: left;
    //     margin-right: 50px;
    //     padding: 5px 0 0 10px;

    //     img { width: 64px; }
    // }

    // .employment-details {
    //     margin-left: 100px;
    //     width: 100%;
    //     margin-bottom: 100px;
    // }

.current {
    @include span-columns(12);

    padding-bottom: 15px;

    a { 
        color: #495A6C; 
        text-decoration: underline;
    }

    .employer-logo {
        background-image: url('images/breather.svg');
        background-repeat: no-repeat;
        float: left;
        height: 64px;
        width: 64px;
    }

    .employment-details {
        margin-left: 10px;
        width: 100%;
    }

    .current-role { 
        margin: 0; 
        line-height: 1.8em;
    }

    .employer-info {
        padding-top: 20px;
    }

    .date { color: #5a6e7f; }

    .employer {}

    .city {
        font-family: "adobe-garamond-pro";
        font-style: italic;
    }
}

@media only screen and (max-width: 414px) {
    ul.col li {
        @include span-columns(6);
        @include omega(2n);
    }

    .employer-logo { display: none; }

    .current-employer {
        text-align: center;
        width: 100%;

        img { width: 128px; }
    }

    .employment-details {
        margin-left: 10px;
        width: 100%;
        font-size: 0.78em;
    }

    .employer-info { display: none; }

    .row .row-title {
        float: none;
        font-size: 1em;
        margin-left: 10px;
        padding: 15px 0;
    }

    .row .row-content ul li {
        font-size: 0.78em;
        letter-spacing: 0.01em;
        width: 53%;
        white-space: nowrap;
    }

    .row .row-content ul li:nth-child(2n) {
        width: 0;
    }

    .skills.row .row-content ul li:last-child {
        display: none;
    }

    .row li {
        padding: 10px;
    }
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
    ul.col li {
        @include span-columns(6);
        @include omega(2n);
    }

    .employer-logo { display: none; }
    .employer-info { display: none; }
    .current-role  { font-size: 1em; }

    .row .row-title {
        float: none;
        margin-left: 10px;
        font-size: 1em;
    }

    .row .row-content ul li {
        font-size: 1em;
        letter-spacing: 0.01em;
        width: 67%;
        white-space: nowrap;
    }

    .row .row-content ul li:nth-child(2n) {
        width: 0;
        margin-right: 20px;
    }
    
    .skills.row .row-content ul li:last-child {
        display: none;
    }

    .row li {
        padding: 10px;
    }
}

@media only screen and (min-width: 769px) {
    ul.col li {
        @include span-columns(4);
        @include omega(3n);
        
        white-space: nowrap;
    }

    .current-role .subtext {
        display: none;
    }
    
    .row {
        padding-top: 80px;
    }

    .row-title {
        float: left;
        font-size: 1em;
    }
}
