@import '../vendors/bourbon/app/assets/stylesheets/bourbon';
@import '../vendors/neat/app/assets/stylesheets/neat';
@import 'variables';

.row {
    @include span-columns(12);

    max-width: 1250px;
    margin: 0 auto;
    padding-left: 3%;
    padding-top: 80px;

    .row-title {
        @include shift(1);
        @include span-columns(1);

        color: $heading-color;
        text-transform: uppercase;
        font-size: 0.85em;
        line-height: 2.3em;
        font-family: "futura-pt",sans-serif;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-right: 5%;
    }

    .row-content {
        @include span-columns(9);

        font-size: 1.3em;
        letter-spacing: 0.04em;
    }

    ul.col {
        @include outer-container;
        padding: 0 0 15px 0;
        list-style-type: none;
        margin-top: 0;
        padding-top: 0;
    }

    li {
        padding: 0 10px 20px 10px;
        text-decoration: none;
        line-height: 1.3em;
    }
}


// current
.current-position {
    @include span-columns(12);

    .current-employer {
        @include span-columns(1);
        padding-bottom: 15px;
    }

    .employer-logo {
        padding: 5px 0 0 10px;
        margin-right: 50px;

        img {
            width: 64px;
        }
    }

    .employment-details {
        @include span-columns(4);
        list-style-type: none;

        margin-left: 45px;
        width: 80%;
    }

    .current-role {
        p { margin: 0; }
    }

    .employer-info {
        padding-top: 20px;

        a {
            color: #5a6e7f;
            text-decoration: none;
        }
    }

    .date { color: #5a6e7f; }

    .employer {}

    .city {
        font-family: "adobe-garamond-pro";
        font-style: italic;
    }
}

@media only screen and (max-width: 767px) {
    ul.col li {
        @include span-columns(12);
        @include omega(1n);
    }

    .current-position .current-employer {
        text-align: center;
        width: 100%;

        img {
            width: 128px;
        }
    }

    .current-position .employment-details {
        margin-left: 0;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    ul.col li {
        @include span-columns(6);
        @include omega(2n);
    }
}

@media only screen and (min-width: 1025px) {
    ul.col li {
        @include span-columns(4);
        @include omega(3n);
    }
}
