$pos-info-padding: 15px 0;
$pos-info-cell-padding: 15px 0;
$heading-color: #b0976d;
$subtle: #737373;
$inactive: #bbbbbb;
$active: #000;
$work-background-color: #4c4c4c;

$container-border-width: 20px;
$body-background-color: #2E2E2E;
$container-background-color: #F9F9F9;

$adobe-garamond-pro: "Adobe Garamond Pro, serif";
$futura-pt-medium: "Futura PT Medium, sans-serif";
$futura-pt-heavy: "Futura PT Heavy, sans-serif";
$futura-pt-book: "Futura PT Book, sans-serif";
