@import '../vendors/bourbon/app/assets/stylesheets/bourbon';
@import '../vendors/neat/app/assets/stylesheets/neat';
@import 'variables';

.work {
    clear: both;
    display: block;
    width: 100%;
    background-color: $work-background-color;
}

.work-header {
    text-align: center;
}

.work-header-bg {
    font-family: "futura-pt",sans-serif;
    color: #545454;
    font-size: 20em;
    font-style: normal;
    font-weight: 800;
    z-index: -1;
}

.work-header-title {
    font-family: "futura-pt",sans-serif;
    color: #F9F9F9;
    font-size: 2.9em;
    letter-spacing: 0.17em;
    margin-top: -260px;
    text-transform: uppercase;
}

.work-header-subtext {
    img {
        width: 146px;
    }

    padding-bottom: 100px;
    padding-top: 15px;

}

.work-grid {
    background-color: $work-background-color;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1250px;
    width: 100%;
}

.grid-item {
    padding: 10px;
    border-radius: 4px;
    transition: box-shadow 0.3s ease;
    transform: translateZ(0);

    img {
        border-radius: 4px;
        height: auto;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
    }
}

.work-overlay {
    animation: fadeIn 0.25s;
    align-items: center;
    background-color: black;
    border-radius: 4px;
    bottom: 14px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 12px 22px rgba(0, 0, 0, 0.15);
    color: white;
    display: none;
    font-family: "futura-pt";
    font-size: 1.4em;
    left: 10px;
    line-height: 1.6em;
    justify-content: center;
    opacity: 0;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 10px;
    transition: box-shadow 0.3s ease;
}


.grid-item:hover .work-overlay {
    display: flex;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 0.8; }
}

@media only screen and (max-width: 1024px) {
    .grid-item {
        flex-basis: 50%;
        max-width: 50%;
    }

    .work-header {
        margin-top: 90px;
        margin-bottom: 35px;
        padding-top: 5px;
    }

    .work-header-title {
        font-size: 2em;
        margin-top: -247px;
    }

    .work-grid {
        padding: 20px 10px 20px 10px;
    }

    .work-overlay {
        display: none;
    }

}

@media only screen and (min-width: 1025px) {
    .grid-item {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }

    .work-header {
        margin-top: 150px;
        margin-bottom: 70px;
        padding-top: 70px;
    }

    .work-grid {
        padding: 20px 10px 70px 10px;
    }

    .grid-item:hover .work-overlay {
        display: flex;
        opacity: 0.8;
    }
}
