$pos-info-padding: 15px 0;
$pos-info-cell-padding: 15px 0;
//$work-color: #4d4d4d;
$heading-color: #b0976d;
$subtle: #737373;
$inactive: #bbbbbb;
$active: #000;
$work-background-color: #4c4c4c;

$adobe-garamond-pro: 'Adobe Garamond Pro, serif';
$futura-pt-medium: 'Futura PT Medium, sans-serif';
$futura-pt-heavy: 'Futura PT Heavy, sans-serif';
$futura-pt-book: 'Futura PT Book, sans-serif';

@mixin plain-ul() {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin inline-nav() {
	li {
		display: inline;
	}
}

@mixin width-height($w, $h) {
	width: $w;
	height: $h;
}
