@import "variables";
@import "vendors/bourbon/app/assets/stylesheets/bourbon";
@import "vendors/neat/app/assets/stylesheets/neat";
@import "vendors/animate-sass/animate";

body {
    background: #2E2E2E;
    -webkit-backface-visibility: hidden; // Addresses a small issue in webkit: http://bit.ly/NEdoDq
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.nav {
    ul {
        position: fixed;
        right: 40px;
        top: 40px;
        z-index: 998;
    }

    li  { display: inline; }
    a   { padding: 0 10px; }
    img { width: 24px; }
}

.container {
    @include outer-container(100%);

    background-color: #F9F9F9;
    position: absolute;
    margin: 0;
    overflow: auto;
}

.brand {
    img {
        margin: 30px 0 0 30px;
        height: 60px;
    }
}

h1 {
    font-weight: 400;
    margin: 160px 0 120px 0;
    text-align: center;

    .title {
        color: #2E2E2E;
        font-size: 2.75em;
        font-family: "futura-pt";
        letter-spacing: 0.1em;
        line-height: 0.5em;
    }

    p {
        color: #5a6e7f;
        font-family: "adobe-garamond-pro";
        font-size: 1.5em;
        font-style: italic;
    }
}

.intro {
    font-style: normal;
    max-width: 1100px;
    margin: 0 auto;
    width: 80%;
    text-align: justify;

    .avatar {
        background-color: #F9F9F9;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
        float: left;

        &.desktop {
            margin: 0 2em 1em 0;
            max-width: 485px;
        }

        &.mobile {
            float: none;
            margin-bottom: 2em;
            max-width: auto;
            width: 100%;
        }
    }

    p {
        color: #5A6E7F;
        font-family: "futura-pt";
        font-size: 1.3em;
        letter-spacing: 0.5px;
        line-height: 1.55em;
    }

    .lead {
        color: #2E2E2E;
        font-family: "adobe-garamond-pro";
        font-size: 1.65em;
        letter-spacing: normal;
        line-height: 1.45em;
    }
}

.gallery {
    font-family: "futura-pt", sans-serif;
    margin-bottom: 4em;
    overflow: hidden;
    width: 100%;
    // white-space: nowrap;

    .slides-heading {
        font-size: 4em;
        margin-bottom: 1.5em;
    }

    .slides {
        overflow-y: hidden;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        padding: 24px 0;
        white-space: nowrap;
        width: 100%;
    }

    .slide {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        display: inline-block;
        height: auto;
        margin-left: 2em;
        transform: translateZ(0);
        transition: box-shadow 0.3s ease;
        width: 500px;

        &:last-child {
            margin-right: 2em;
        }
    }

    .slide-media {
        background-size: cover;
        border-radius: 4px 4px 0 0;
        height: 350px;
    }

    .slide:hover {
        transition: box-shadow 0.3s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 12px 22px rgba(0, 0, 0, 0.15);
    }

    .slide-title {
        color: #5A6E7F;
        float: left;
        font-size: 1.4em;
        font-style: normal;
        font-weight: 700;
        text-decoration: none;
        padding: 0.7em;
        width: 100%;
    }

    .slide-position {
        color: $heading-color;
        float: right;
        font-size: 0.6em;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.15em;
        padding: 0.55em 0;
        text-align: right;
    }
}


.row {
    @include span-columns(12);

    .row-body {
        width: 100%;
        max-width: 1250px;
        margin: 0 auto;
        padding-left: 3%;
        padding-top: 80px;
    }

    .row-title {
        @include shift(1);
        @include span-columns(1);
        color: $heading-color;
        text-transform: uppercase;
        font-size: 0.85em;
        line-height: 2.3em;
        font-family: "futura-pt",sans-serif;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.15em;
        margin-right: 5%;
    }

    .row-content {
        @include span-columns(9);

        font-size: 1.3em;
        letter-spacing: 0.04em;
    }

    .column {
        float: left;
        margin: 0;
        padding: 0 0 15px 0;
        list-style-type: none;
        width: 33%;

        li {
            padding: 0 10px 20px 10px;
            text-decoration: none;
            line-height: 1.3em;
        }
    }
}



.uppercase {
    text-transform: uppercase;
}

.bar {
    background: $heading-color;
    display: inline-block;
    height: 2px;
    width: 50px;
}

@media screen and (max-width: 1000px) {
    body     { background-color: #F9F9F9; }

    .mobile  { display: block; }
    .desktop { display: none; }

    .brand {
        img {
            margin: 30px 0 0 30px;
            height: 130px;
        }
    }

    .nav img { width: 65px; }

    .intro,
    .gallery { font-size: 2em; }

    .slides {
        .slide {
            width: 714px;
        }

        .slide-media {
            height: 500px;
        }
    }

    .container {
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .bar {
        margin-bottom: 0.2em;
    }
}

@media screen and (min-width: 1001px) {
    body { background: #2E2E2E; }

    .mobile  { display: none; }
    .desktop { display: block; }

    .brand {
        img {
            margin: 30px 0 0 30px;
            height: 60px;
        }
    }

    .container {
        top: 20px;
        right: 20px;
        left: 20px;
        bottom: 20px;
    }

    .bar {
        margin-bottom: 0.17em;
        margin-left: 0.1em;
    }
}
