@import "variables";
@import "vendors/bourbon/app/assets/stylesheets/bourbon";
@import "vendors/neat/app/assets/stylesheets/neat";
@import "vendors/animate-sass/animate";

$mainBorderWidth: 20px;

.nav {
    ul {
        @include inline-nav();
        z-index: 998;
        position: fixed;
        top: 40px;
        right: 40px;
    }

    img { width: 24px; }
    a   { padding: 0 10px; }
}

.container {
    @include outer-container(100%);
    background-color: #F9F9F9;
    position: absolute;
    margin: 0;
    top: $mainBorderWidth;
    right: $mainBorderWidth;
    left: $mainBorderWidth;
}

header {
    #brand {
        float: left;

        img {
            margin: 30px 0 0 30px;
            height: 60px;
        }
    }
}