@import "lib/variables";
@import "lib/mixins";
@import "vendors/bourbon/app/assets/stylesheets/bourbon";
@import "vendors/neat/app/assets/stylesheets/neat";

html, body {
    background: black;
}

body {
    padding: 10px 10px 0 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#landing {
	@include outer-container(100%);
	@include height-width(90%, 100%);

	background: url('landing.png') center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	@include parallax();

	color: white;

    .gradient {
        @include fill-parent();

        height: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)) ;
    }

    .table {
        display: table;
        border-collapse: collapse;
    }

    .cell {
        display: table-cell;
        border: 0;
    }

    .center {
        vertical-align: middle;
        text-align: center;
    }

	h1 {
		margin: 0;
		padding: 0;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 6em;
	}

	.lead {
        margin: 0;
        padding: 0;
        font-family: 'Cardo', serif;
        font-style: italic;
        font-size: 2.5em;
        font-weight: 400;
    }
}

.container {
    @include outer-container(100%);

	@include parallax();

    background-color: white;
}


header {
    #brand {
        float: left;
        img {
            margin: 15px;
            height: 80px;
        }
    }

    #nav {
		float: right;

		ul {
			@include inline-nav();

			padding: 37px 50px 0 0;

			li {
				a {
					padding: 0 10px 0 10px;
					text-transform: uppercase;
                    font-size: 0.7em;
                    font-weight: 700;
                    color: black;
                    text-decoration: none;
				}
			}
		}
    }
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#story {
	padding: 0em 1em 1em 1em;
    font-size: 5em;
    font-weight: 300;
}

.row {
    @include span-columns(12);
    margin: 30px 0;

    .row-title {
        @include span-columns(3);

        font-family: 'Cardo', serif;
        font-size: 1.2em;
        font-style: italic;
        text-align: right;
        color: $heading-color;
    }

    .row-title.education {
        padding-top: 111px;
    }

    .row-content {
        @include shift(1);
        @include span-columns(8);
    }
}

.first.row {
    margin-top: 0;
}

.last.row {
     margin-bottom: 0;
}

.row.experience {
    margin-bottom: 0px;

    .row-content > .dropdown > .dropdown-title {
        border-bottom: none;
    }
}

.row.education {
    margin-top: 0px;
}

.ul-col {
    @include span-columns(4);

    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        padding: 0 10px 20px 10px;
        text-decoration: none;
    }
}

#gallery {
    @include span-columns(12);
    @include pad(0 0 0 0);

    padding-top: 1em;
    padding-bottom: 100px;

    .slide {
        @include shift(3);
        @include span-columns(6);

        margin-left: 23.58941%;

        .slide-media {
			img {
				width: 105%;
			}
		}

		.slide-info {
			padding-top: 10%;

			.slide-title {
				float: left;
                margin-left: -6px;
				font-size: 4em;
				font-weight: 900;

				em {
					font-size: 0.3em;
					font-weight: 400;
					color: lightgray;
				}
			}

			.slide-source {
				float: right;
				padding-top: 3em;
				vertical-align: text-bottom;
			}
		}
    }

    .slide-selector {
        //@include span-columns(1);
        float: left;
        padding-top: 8%;

        ul {
			@include plain-ul();
		}
    }
}

.sub-title {
    margin: 0;
    padding: 0 0 10px 0;
    line-height: 30px;
    text-transform: uppercase;
    color: $subtle;
}

#current-position {
    @include span-columns(12);

    #current-employer {
        @include span-columns(1);

        padding-bottom: 15px;

        #employer-logo {
            img {
                width: 64px;
            }
        }
    }

    #employment-details {
        @include span-columns(11);

        margin-left: 4%;
        width: 80%;

        #current-role {
            strong {
                font-size: 1em;
                font-size: 1.2em;
            }
        }

        #employer-info {}
    }

    #job-description {
         @include span-columns(12);
    }
}

.dropdown {
    @include span-columns(12);

    background-color: white;

    .dropdown-title {
        width: 80%;
	    padding: 30px;
	    text-transform: uppercase;
	    border-top: 1px solid black;
	    border-bottom: 1px solid black;
        color: $heading-color;
        cursor: pointer;

        .close {
	    	padding: 10px 0 0 0;
	    	margin: 0;
	    	float: right;
	    	font-size: 3.6em;
	    	font-weight: 500;
	    	line-height: 0;
            color: black;
	    }
    }

    .dropdown-row {
        @include span-columns(12);

        .time-and-place {
            @include span-columns(3);

            padding: $pos-info-padding;

            .time {
                padding: $pos-info-cell-padding;
            }

            .place {
                padding: $pos-info-cell-padding;
                font-family: 'Cardo', serif;
                font-size: 1.2em;
                font-style: italic;
            }
        }

        .position-info {
            @include span-columns(9);

            padding: $pos-info-padding;

            .position-title {
                padding: $pos-info-cell-padding;
            }

            .company-info {
                padding: $pos-info-cell-padding;
            }
        }
    }
}//.dropdown


#work {
    @include span-columns(12);

	background-color: $work-background-color;

    .work-header {
    	text-align: center;

    	.work-header-bg {
    		z-index: -1;
    		font-size: 15em;
    		color: lighten($work-background-color, 5)
    	}

    	.work-header-title {
    		margin-top: -150px;
    		font-size: 2em;
    		text-transform: uppercase;
    		letter-spacing: 0.3em;
    		color: white;
    	}

    	.work-header-subtext {
    		padding-bottom: 100px;
    		font-size: 2em;
    		font-family: "Times";
    		font-style: italic;
    	}
    }

    #work-grid {
        padding: 10px;

        .grid-item{
    		@include span-columns(4);

            margin-top: 2.35765%;
    		margin-bottom: 2.35765%;
    		height: 250px;
    		background: url(./planet_1x.png);

    		.work-overlay {
    			display: none;
    			background-color: rgba(0, 0, 0, 0.7);
    			text-align: center;

                @include height-width(100%, 100%);

    			a {
    				display: block;
    				padding-top: 10%;
    				// vertical-align: middle;
    			}
    		} //.grid-item
    	}
    }
}

