@import "lib/variables";
@import "lib/mixins";
@import "vendors/bourbon/app/assets/stylesheets/bourbon";
@import "vendors/neat/app/assets/stylesheets/neat";

html, body {
    background: black;
}

body {
    padding: 20px 20px 20px 20px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
}

.container {
    @include outer-container(100%);
    background-color: white;
}

header {
    #brand {
        float: left;

        img {
            margin: 30px 0 0 30px;
            height: 60px;
        }
    }

    #nav {
		float: right;

		ul {
			@include inline-nav();
            z-index: 998;
            position: fixed;
            top: 40px;
            right: 30px;

          img {
            width: 24px;
          }

			li {
				a {
					padding: 0 10px 0 10px;
					text-transform: uppercase;
                    font-size: 0.7em;
                    font-weight: 700;
                    color: black;
                    text-decoration: none;
				}
			}
		}
    }
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

h1 {
    margin-top: 120px;
    text-align: center;
    font-family: "futura-pt";
    font-weight: 400;
    font-style: normal;
    line-height: 0.6em;
    font-size: 5.5em;
    letter-spacing: 0.1em;

    p {
        margin-bottom: 130px;
        text-align: center;
        font-family: "adobe-garamond-pro";
        font-weight: 400;
        font-style: italic;
        font-size: 0.55em;
        letter-spacing: normal;
    }
}



.first{
    padding: 4em;
    max-width: 1100px;

    .avatar {
        background-color: white;
        float: left;
        max-width: 485px;
        max-width: auto;
        margin-right: 2em;
        margin-bottom: 1em;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
    }

    p {
        font-family: "futura-pt";
        font-weight: 400;
        font-style: normal;
        line-height: 1.55em;
        font-size: 1.3em;
        letter-spacing: 0.5px;
        text-align: justify;
    }

    .lead {
        margin-top: 0.3em;
        margin-bottom: 1.6em;
        font-family: "adobe-garamond-pro";
        font-weight: 400;
        font-style: normal;
        line-height: 1.45em;
        font-size: 1.65em;
        letter-spacing: normal;
        text-align: justify;
    }
}
.row {
    @include span-columns(12);
    margin: 30px 0;

    .row-title {
        @include span-columns(3);
        width: 18%;
        padding-left: 9.5em;
        //font-family: $futura-pt-medium;
        text-align: left;
        color: $heading-color;
        text-transform: uppercase;
		font-size: 0.85em;
        font-family: "futura-pt",sans-serif;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.15em;
    }

    .row-content {
        @include shift(1);
        @include span-columns(8);
    }
}

.first.row {
    margin: 0 auto 0 auto;
    float: none;
}

.last.row {
     margin-bottom: 0;
}

.row.experience {
    margin-bottom: 0px;
    .row-content > .dropdown {
        display: none;
    }

    .row-content > .dropdown > .dropdown-title {
        border-bottom: none;
    }
}

.row.education {
    display: none;
    margin-top: 0px;
}

.ul-col {
    @include span-columns(4);

    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        padding: 0 10px 20px 10px;
        text-decoration: none;
    }
}

#gallery {
    //@include span-columns(12);

    margin-bottom: 4em;
    // height: auto;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;

    .slides-heading p {
            color: black;
            font-family: "adobe-garamond-pro";
            font-weight: 400;
            font-style: normal;
            font-size: 2.5em;
            letter-spacing: normal;
            margin: 1em 0 0 0;
    }

    .bar {
        width: 14px;
        height: 2px;
        background: #b0976d;
        margin: 2em 0;
    }

    .slides {
        height: 447px;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    .slide {
        display: inline-block;
        margin-left: 1%;
        margin-right: 1%;
        width: 498px;
        height: auto;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;

        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: box-shadow 0.3s ease;
        -moz-transition: box-shadow 0.3s ease;
        -ms-transition: box-shadow 0.3s ease;
        -o-transition: box-shadow 0.3s ease;
        transition: box-shadow 0.3s ease;

        }

        .slide-media {
            background-size: cover;
            border-radius: 4px 4px 0 0;
            height: 348px;
		    }

        .slide:hover {

          -webkit-transition: box-shadow 0.3s ease;
          -moz-transition: box-shadow 0.3s ease;
          -ms-transition: box-shadow 0.3s ease;
          -o-transition: box-shadow 0.3s ease;
          transition: box-shadow 0.3s ease;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 12px 22px rgba(0, 0, 0, 0.15);

          }

	    .slide-title {
    		float: left;
            padding: 0.7em;
            width: 100%;
            font-family: "futura-pt",sans-serif;
            color: black;
            text-decoration: none;
            font-style: normal;
            font-weight: 700;
            font-size: 1.4em;
      }

			.slide-position {
                float: right;
                padding: 0.55em 0 0.55em 0;
                text-align: right;
                text-transform: uppercase;
        		font-size: 0.6em;
                font-family: "futura-pt",sans-serif;
                font-style: normal;
                font-weight: 500;
                letter-spacing: 0.15em;
        		color: $heading-color;
			}

    #slide-1 {
        margin-left: 2em;
    }

    #slide-8 {
        margin-right: 2em;
    }
}

.sub-title {
    margin: 0;
    padding: 0 0 10px 0;
    line-height: 30px;
    text-transform: uppercase;
    color: $subtle;
}

#current-position {
    @include span-columns(12);

    #current-employer {
        @include span-columns(1);

        padding-bottom: 15px;

        #employer-logo {
            img {
                width: 64px;
            }
        }
    }

    #employment-details {
        @include span-columns(11);

        margin-left: 4%;
        width: 80%;

        #current-role {
            strong {
                font-size: 1em;
                font-size: 1.2em;
            }
        }

        #employer-info {}
    }

    #job-description {
         @include span-columns(12);

         p {
             width: 80%;
         }
    }
}

#work {
    @include span-columns(12);
    padding: 0 3%;
	background-color: $work-background-color;
    // background-color: #23252B;

    .work-header {
        text-align: center;
        margin-top: 30px;

    	.work-header-bg {
    	    z-index: -1;
    		font-size: 20em;
            font-style: normal;
            font-weight: 800;
    		color: #545454;
    	}

    	.work-header-title {
    		margin-top: -260px;
    		font-size: 2.9em;
    		text-transform: uppercase;
    		letter-spacing: 0.17em;
    		color: white;
    	}

    	.work-header-subtext {
        img {
          width: 146px;
          margin: 15 auto;
        }
    		padding-bottom: 100px;
    	}
    }
} //#work

#work-grid {
    padding: 10px;
    width: 100%;
    margin: 0 auto;

.grid-row {
    &:after {
        content: " ";
        padding: 10px;
    }

    .grid-item {
        img {
            width: 100%;
            border-radius: 4px;
        }

        background-position: center;
        // height: 100%;

        background-size: cover;
        border-radius: 4px;
        display: block;
        background-color: white;
        cursor: pointer;

        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: box-shadow 0.3s ease;
        -moz-transition: box-shadow 0.3s ease;
        -ms-transition: box-shadow 0.3s ease;
        -o-transition: box-shadow 0.3s ease;
        transition: box-shadow 0.3s ease;
    }

    .work-overlay {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;

        display: none;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;

        border-radius: 4px;

        -webkit-transition: box-shadow 0.3s ease;
        -moz-transition: box-shadow 0.3s ease;
        -ms-transition: box-shadow 0.3s ease;
        -o-transition: box-shadow 0.3s ease;
        transition: box-shadow 0.3s ease;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 12px 22px rgba(0, 0, 0, 0.15);

        @include width-height (100%, 100%);

        a {
            display: block;
            padding-top: 34%;
            color: white;
            text-decoration: none;
            vertical-align: middle;
            font-family: "futura-pt";
            font-weight: 400;
            font-style: normal;
            line-height: 1.6em;
            font-size: 1.4em;
            letter-spacing: 0.5px;
        } //a

    } //.work-overlay

    } //.grid-row
} //.work-grid

/* Overlay style */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: black;
}

/* Overlay closing cross */
.overlay .overlay-close {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 40px;
    top: 50px;
    overflow: hidden;
    border: none;
    background: url(../public/cross.svg) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
}

/* Menu style */
.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.overlay ul li a {
    font-size: 54px;
    font-weight: 300;
    display: block;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-decoration: none;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #b0976d;
    text-decoration: none;
}

/* Effects */
.overlay-scale {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
    z-index: 999;
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
            font-size: 34px;
    }
    .overlay ul li {
        min-height: 34px;
    }
}

@media screen and (max-width: 1000px) {
    .mobile {
        display: block;

        .grid-item {
            @include span-columns(6);
        }
    }

    .first {
        padding: 4em 4em 0 4em;
    }

    .first.row {
        margin-bottom: 0;
    }

    .avatar {
        min-width: 100%;
        margin-bottom: 2em !important;
    }

    .desktop {
        display: none;
    }

    p {
        float: none;
        clear: both;
    }

    .slides-heading, .slide-title {
        font-size: 2em;
    }

    .slides-heading {
        margin: 0 1em;
    }

    .row-title {
        font-size: 2em;
        width: 100% !important;
        text-align: left !important;
    }

    .row-content {
        margin-left: 3.58% !important;
    }

    .ul-col {
        font-size: 2em;
        width: auto;
    }
}

@media screen and (min-width: 1001px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;

        .grid-item {
            @include span-columns(4);
        }
    }

    .slides-heading {
        margin: 0 2em;
    }
}
