@import "lib/variables";
@import "lib/mixins";
@import "vendors/bourbon/app/assets/stylesheets/bourbon";
@import "vendors/neat/app/assets/stylesheets/neat";

html, body {
	margin: 0;
	padding: 0;
	background-color: black;
	@include height-width(100%, 100%);
}

body {
	padding: 10px;
}

@mixin parallax() {
	position: relative;
	background-position: 50% 0;
}

.container {
	@include outer-container(100%);
	@include parallax();
	
	background-color: white;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#landing {
	@include outer-container(100%);
	@include height-width(90%, 100%);

	background: url('landing.png') center;	
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 0;

	@include parallax();

	color: white;

	h1 {
		margin: 0;
		padding: 0;
	}

	.lead {}
}

.header-desktop {
	height: 80px;

	.brand-desktop {
		float: left;
	}

	#nav-desktop {
		float: right;

		ul {
			@include inline-nav();

			padding-top: 15px;

			li {
				a {
					padding: 0 10px 0 10px;
					text-transform: uppercase;
				}
			}
		}
	}
}

#story {
	.story-copy {
		font-size: 6em;
		padding: 2em 1em 0 1em;
	}
}


/// GALLERY

#gallery {
	@include outer-container(80%);

	.slide {
		float: left;
		margin-left: 50px;
		width: 800px;

		.slide-media {
			background: url('./barpass.png');
			min-height: 250px;
			max-height: 500px;
		}

		.slide-copy {}
		.slide-title {
			font-size: 2em;
		}

		.slide-source {
			float: right;
		}
	}

	.slide-selector {
		ul {
			@include plain-ul()
		}
	}
}

/// GRID
.grid {}
.grid-item {}

/// SKILLS

#skills {}
#skills-grid {
	@include outer-container(96%);

	.skill-name {
		@include span-columns(3)
	}

	.skills-col {
		@include span-columns(3)
	}
}



/// WORK

.work-header {
	text-align: center;

	.work-header-bg {
		z-index: -1;
		font-size: 15em;
		color: lighten($work-color, 5)
	}
	
	.work-header-title {
		margin-top: -150px;
		font-size: 2em;
		text-transform: uppercase;
		letter-spacing: 0.3em;
		color: white;
	}

	.work-header-subtext {
		padding-bottom: 100px;
		font-size: 2em;
		font-family: "Times";
		font-style: italic;		
	}
}

#work {
	background-color: $work-color;
}

#work-grid {
	@include outer-container(96%);
	
	.grid-item{
		@include span-columns(4);
		margin-top: 2.35765%;
		margin-bottom: 2.35765%;
		height: 250px;
		background: url(./planet_1x.png);

		.work-overlay {
			display: none;
			background-color: rgba(0, 0, 0, 0.7);
			text-align: center;
			@include height-width(100%, 100%);

			a {
				display: block;
				padding-top: 10%;
				// vertical-align: middle;
			}
		}
	}
}




